.footer_wrap{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    text-align:center;
    line-height:86px;
    background:$gray91;
    color:$gray41;
    border-top:1px solid $gray80;
}