.header_wrap{
    position:relative;
    background:linear-gradient(135deg, #FFDD00 0%, #E5C700 100%);
    height:260px;
    padding:16px 64px 0 64px;
    margin-left:-64px;
    width:calc(100% + 128px);

    &:after,
    &:before{
        content:'';
        position:absolute;
        top:0;
    }
    &:after{
        width:546px;
        height:121px;
        background:url('../../../src/assets/images/header_bg01.png') no-repeat;
        background-size:100%;
        left:0;
    }
    &:before{
        width:708px;
        height:526px;
        background:url('../../../src/assets/images/header_bg02.png') no-repeat;
        background-size:100%;
        right:0;
    }
    .inner{
        position:relative;
        // min-width:$MinWidth;
        max-width:$MaxWidth;
        margin:0 auto;
        z-index: 1;
        display:flex;
        align-items: center;
        justify-content: space-between;
        color:#fff;
        height:80px;
    }
    .logo{
        font-size:34px;
        font-weight:900;
        text-decoration: none;
        color:#fff;
        line-height:24px;
    }
    .menu-dim{
        position:absolute;
        top:96px;
        left:0;
        width:100%;
        height:300px;
        background:#E5C700;
        z-index:1;
        display:none;
        box-shadow: 0px 12px 24px -4px #919EAB1F;

        &.on{
            display:block;
        }
        &:hover{
            + .inner .menu-sub{
                display: flex;
            }
        }
    }
    .menu{
        position:absolute;
        top:0;
        left:50%;
        transform: translate(-50%, 0);
        width:994px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        color:#fff;

        &:hover{
            .menu-sub{
                display: flex;
            }
        }
        .menu-main-link{
            width: 180px;

            a{
                color:#fff;
                font-size:20px;
                line-height:30px;
                font-weight:700;
                position:relative;
                margin-left:10px;
                cursor:default;

                &:hover{
                    &:after{
                        content:'';
                        position:absolute;
                        bottom:-8px;
                        left:-14px;
                        width:calc(100% + 28px);
                        height:3px;
                        background:#fff;
                    }
                }
            }
        }
        .menu-sub{
            display: none;
            position:absolute;
            top:80px;
            width:994px;
            justify-content: space-between;
            z-index: 2;
            padding:18px 0 42px 0;
            height: 300px;

            > div{
                width: 180px;
                position:relative;

                &:after{
                    content:'';
                    position:absolute;
                    top:0;
                    right:-10px;
                    border-right:1px dotted #919EAB33;
                    height:100%;
                }
                &:last-child{
                    &:after{
                        display:none;
                    }

                }
            }
            a{
                display:inline-block;
                font-size:16px;
                line-height:20px;
                padding:8px;
                border-radius: 8px;
                color:#fff;
                cursor: pointer;

                &:hover{
                    background:rgba(255, 255, 255, 0.16);

                }
            }
        }
    }
    .login{
        display:flex;
        align-items: center;

        > div{
            margin-right:24px;

            &:last-child{
                margin-right:0;
            }
        }
        .user{
            display:flex;
            align-items: center;

            .thumb{
                width:32px;
                height:32px;
                overflow: hidden;
                border-radius:50%;
                margin-right:8px;
                background:#fff;
            }
            .name{
                font-size:13px;
                font-weight:600;
            }
        }
        .alarm{
            position:relative;
            cursor: pointer;

            .num{
                position:absolute;
                display:flex;
                align-items: center;
                justify-content: center;
                top:-9px;
                right:-5px;
                width:20px;
                height:20px;
                border-radius:50%;
                background:#FF4646;
                font-size:12px;
                font-weight:700;
            }
        }
        .alarm-pop{
            position:absolute;
            top:70px;
            right:40px;
            margin-right:0;
            width:288px;
            height:509px;
            box-shadow: 0px 0px 2px 0px rgba(145, 158, 171, 0.20), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
            border-radius:16px;
            overflow: hidden;
            background:#fff;
            display:none;

            &.on{
                display:block;
            }
            .tit{
                padding:16px 16px 14px 16px;
                font-size:18px;
                font-weight:700;
                line-height:28px;
                color:#212B36;
                background:#fff;

                .btn-read{
                    position:absolute;
                    top:16px;
                    right:16px;
                    line-height:26px;
                    font-size:13px;
                    color:#637381;
                    border:1px solid rgba(145, 158, 171, 0.32);
                    background:#fff;
                    font-weight:700;
                    padding:0 8px;
                    border-radius:8px;
                }
            }
            .list{
                height:378px;
                overflow-y:auto;
                padding:0 24px;

                li{
                    margin:16px 0;

                    &:first-child{
                        margin-top:0px;
                    }
                    &:last-child{
                        margin-bottom:0px;
                    }
                    a{
                        display:block;
                        position:relative;

                        &.read{
                            > div{
                                p{
                                    font-weight:700;
                                    color:#212B36;

                                    + p{
                                        font-weight:400;
                                    }
                                }
                            }
                        }
                        &.new{
                            padding-right:8px;

                            &:after{
                                content:'';
                                position:absolute;
                                top:calc(50% - 4px);
                                right:0;
                                width:8px;
                                height:8px;
                                background:#0290EF;
                                border-radius:50%;;
                            }
                        }
                        .icon{
                            position:absolute;
                            top:0;
                            left:0;
                            width:36px;
                            height:36px;
                            border-radius:50%;
                            display:flex;
                            align-items: center;
                            justify-content: center;

                            svg * {
                                fill: #fff;
                            }
                            &.type-humidity{
                                background:#1877F2;
                            }
                            &.type-battery{
                                background:#22C55E;
                            }
                            &.type-gps{
                                background:#8E33FF;
                            }
                            &.type-protractor{
                                background:#454F5B;
                            }
                            &.type-shock{
                                background:#00B8D9;
                            }
                            &.type-sound{
                                background:#F07E26;
                            }
                            &.type-emergency{
                                background:#FF4646;
                            }
                        }
                        > div{
                            padding-left:52px;

                            p{
                                color:#637381;
                                font-size:14px;
                                line-height:22px;

                                + p{
                                    font-size:12px;
                                    line-height:18px;
                                    color:#919EAB;
                                }
                            }
                        }
                    }
                }

            }
            .btn-more{
                margin:16px 24px 0 24px;
                height:40px;
                background:#454F5B;
                border:1px solid #454F5B;
                font-size:14px;
                width:calc(100% - 48px);
                border-radius:8px;
                color:#fff;

            }

        }
        .logout{
            width:30px;
            text-align:center;
            cursor: pointer;
        }
    }
}
@media screen and (max-width:1600px) {
    .header_wrap{
        .menu{
            width:870px;

            .menu-main-link{
                width: 160px
            }
            .menu-sub{
                width:870px;

                > div{
                    width: 160px;
                }
                a{
                    font-size:14px;
                }
            }
        }
    }
}