<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Under Construction</title>
</head>
<body style="background:#EAF0F3;">
    <div style="position:fixed; top:50%; left:50%; transform: translate(-50%, -50%); width:600px;">
        <div style="font-size:32px; line-height:48px; font-weight:700; color:#0090F0;">
            공사중(Under Construction)
        </div>
        <div style="margin-top:40px; background:#fff; border-radius:6px; padding:80px 0 48px 0; text-align:center;">
            <div style="width:120px; height:120px; border-radius:50%; background:#f9f9f9; margin:0 auto; display: flex; align-items: center; justify-content: center;">
                <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5 8C16.1193 8 15 9.11929 15 10.5C15 11.8807 16.1193 13 17.5 13H32.5C33.8807 13 35 11.8807 35 10.5C35 9.11929 33.8807 8 32.5 8H17.5Z" fill="#0090F0"/>
                    <path d="M10 18C10 16.6193 11.1193 15.5 12.5 15.5H37.5C38.8807 15.5 40 16.6193 40 18C40 19.3807 38.8807 20.5 37.5 20.5H12.5C11.1193 20.5 10 19.3807 10 18Z" fill="#0090F0"/>
                    <path d="M5 28C5 25.2386 7.23858 23 10 23H40C42.7614 23 45 25.2386 45 28V38C45 40.7614 42.7614 43 40 43H10C7.23858 43 5 40.7614 5 38V28Z" fill="#0090F0"/>
                </svg>
            </div>
            <div style="font-size:16px; line-height:24px; color:#212B36; margin:40px 0;">
                더 나은 서비스를 제공해 드리기 위해<br />
                최선을 다하겠습니다.
            </div>
            <button style="background:#454F5B;font-size:14px;line-height:22px;color:#fff; font-weight:700; padding:9px 46px; border-radius:60px;">이전페이지로 이동</button>
        </div>
        <div style="line-height:22px; color:#A3AEB9; margin-top:16px;">Copyright ©Lxnn. All Rights Reserved.</div>
    </div>
</body>
</html>